Source: sjconf-icecast2
Section: misc
Priority: optional
Maintainer: Philippe Bridant <philippe.bridant@smartjog.com>
Uploaders: Clément Bœsch <clement.boesch@smartjog.com>, Gilles Dartiguelongue <gilles.dartiguelongue@smartjog.com>, Nicolas Noirbent <nicolas.noirbent@smartjog.com>, Rémi Cardona <remi.cardona@smartjog.com>
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 5.0.38), txt2tags, python-central (>= 0.6)
XS-Python-Version: >= 2.5
Standards-Version: 3.8.4

Package: sjconf-icecast2
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, sjconf1 (>= 1.3.3), icecast2
XB-Python-Version: ${python:Versions}
Description: sjconf plugin for icecast2
 This package provides a plugin to manage icecast2 using sjconf
